@use '../abstracts' as *;

.card {
  padding: 3em;
  max-width: 27.5em;

  @media (min-width: $breakpoint-lg) {
    display: grid;
    grid-template: 1fr min-content / 1fr;
  }

  .card__info {
    img {
      margin-bottom: 2.1875em;
    }

    h2 {
      font-family: 'Big Shoulders Display', sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: $clr-heading;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    p {
      color: $clr-paragraph;
      line-height: 1.66;
    }
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    background-color: $clr-button;
    border-radius: 1.5625em;
    padding: 0.8125em 1.96875em;
    margin-top: 1.5em;
    transition: all 0.3s ease-in-out;
    inline-size: max-content;

    @media (min-width: $breakpoint-lg) {
      margin-top: 5em;
    }

    &:hover {
      background-color: transparent;
      color: $clr-button;
      box-shadow: inset 0 0 0 2px $clr-button;
    }
  }

  &-1 {
    background-color: $clr-card-1;
    border-radius: 0.5em 0.5em 0 0;

    .btn {
      color: $clr-card-1;
    }

    @media (min-width: $breakpoint-lg) {
      border-radius: 0.5em 0 0 0.5em;
    }
  }

  &-2 {
    background-color: $clr-card-2;

    .btn {
      color: $clr-card-2;
    }
  }

  &-3 {
    background-color: $clr-card-3;
    border-radius: 0 0 0.5em 0.5em;

    .btn {
      color: $clr-card-3;
    }

    @media (min-width: $breakpoint-lg) {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
