@use '../abstracts' as *;

.card {
  padding: 4.8rem;
  max-width: 32.7rem;

  @media (min-width: $breakpoint-lg) {
    display: grid;
    grid-template: 1fr min-content / 1fr;
  }

  img {
    margin-bottom: 3rem;
  }

  h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: $clr-heading;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  p {
    color: $clr-paragraph;
    line-height: 2.5rem;
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    background-color: $clr-button;
    border-radius: 2.5rem;
    padding: 1.3rem 3.15rem;
    margin-top: 2.4rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $clr-button;
      box-shadow: inset 0 0 0 2px $clr-button;
    }
  }

  &-1 {
    background-color: $clr-card-1;
    border-radius: 0.8rem 0.8rem 0 0;

    .btn {
      color: $clr-card-1;
    }

    @media (min-width: $breakpoint-lg) {
      border-radius: 0.8rem 0 0 0.8rem;
    }
  }

  &-2 {
    background-color: $clr-card-2;

    .btn {
      color: $clr-card-2;
    }
  }

  &-3 {
    background-color: $clr-card-3;
    border-radius: 0 0 0.8rem 0.8rem;

    .btn {
      color: $clr-card-3;
    }

    @media (min-width: $breakpoint-lg) {
      border-radius: 0 0.8rem 0.8rem 0;
    }
  }
}
