// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
// Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
// Neutral - paragraphs
$transparent-white: hsla(0, 0%, 100%, 0.75);
// Neutral - background, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

$clr-card-1: $bright-orange;
$clr-card-2: $dark-cyan;
$clr-card-3: $very-dark-cyan;
$clr-paragraph: $transparent-white;
$clr-background: $very-light-gray;
$clr-heading: $very-light-gray;
$clr-button: $very-light-gray;

$breakpoint-lg: 992px;
