@use '../abstracts' as *;

.main {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  justify-content: center;
  margin-block: 1.25em;

  @media (min-width: $breakpoint-lg) {
    grid-template: max-content / repeat(3, 1fr);
    align-content: center;
    max-width: 92rem;
    min-height: 100vh;
  }
}
