$mobile-width: 375px;
$desktop-width: 1440px;
$breakpoint-lg: 992px;

.design-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  opacity: 0.2;
  z-index: 10;

  .mobile-design {
    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }

  .desktop-design {
    display: none;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }
}
